body{
    margin: 0;
}
main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100vh;
}
@-webkit-keyframes movement {
    3.125%   { -webkit-transform: translate(450px, 450px); transform: translate(450px, 450px);}
    5.55555555%   { -webkit-transform: translate(800px, 100px); transform: translate(800px, 100px);}
    6.25%   { -webkit-transform: translate(700px, 0px); transform: translate(700px, 0px);}
    9.375%   { -webkit-transform: translate(250px, 450px); transform: translate(250px, 450px);}
    11.1111111%   { -webkit-transform: translate(0px, 200px); transform: translate(0px, 200px);}
    12.5%   { -webkit-transform: translate(200px, 0px); transform: translate(200px, 0px);}
    15.75%   { -webkit-transform: translate(650px, 450px); transform: translate(650px, 450px);}
    16.6666666%   { -webkit-transform: translate(800px, 300px); transform: translate(800px, 300px);}
    18.75% { -webkit-transform: translate(500px, 0px); transform: translate(500px, 0px);}
    21.875%   { -webkit-transform: translate(50px, 450px); transform: translate(50px, 450px);}
    22.2222222% { -webkit-transform: translate(0px, 400px); transform: translate(0px, 400px);}
    25% { -webkit-transform: translate(400px, 0px); transform: translate(400px, 0px);}
 
    27.7777777% { -webkit-transform: translate(800px, 400px); transform: translate(800px, 400px);}
    28.125% { -webkit-transform: translate(750px, 450px); transform: translate(750px, 450px);}
    31.25%   { -webkit-transform: translate(300px, 0px); transform: translate(300px, 0px);}
    33.3333333% { -webkit-transform: translate(0px, 300px); transform: translate(0px, 300px);}
    34.375%   { -webkit-transform: translate(150px, 450px); transform: translate(150px, 450px);}
    37.5%   { -webkit-transform: translate(600px, 0px); transform: translate(600px, 0px);}
    38.8888888%   { -webkit-transform: translate(800px, 200px); transform: translate(800px, 200px);}
    40.625%   { -webkit-transform: translate(550px, 450px); transform: translate(550px, 450px);}
    43.75%   { -webkit-transform: translate(100px, 0px); transform: translate(100px, 0px);}
    44.4444444%  { -webkit-transform: translate(0, 100px); transform: translate(0, 100px);}
    46.875%   { -webkit-transform: translate(350px, 450px); transform: translate(350px, 450px);}

    50%  { -webkit-transform: translate(800px, 0px); transform: translate(800px, 0px);}

    53.125%   { -webkit-transform: translate(350px, 450px); transform: translate(350px, 450px);}
    55.5555555%  { -webkit-transform: translate(0, 100px); transform: translate(0, 100px);}
    56.25%   { -webkit-transform: translate(100px, 0px); transform: translate(100px, 0px);}
    59.375%   { -webkit-transform: translate(550px, 450px); transform: translate(550px, 450px);}
    61.1111111%   { -webkit-transform: translate(800px, 200px); transform: translate(800px, 200px);}
    62.5%   { -webkit-transform: translate(600px, 0px); transform: translate(600px, 0px);}
    65.625%   { -webkit-transform: translate(150px, 450px); transform: translate(150px, 450px);}
    66.6666666% { -webkit-transform: translate(0px, 300px); transform: translate(0px, 300px);}
    68.75%   { -webkit-transform: translate(300px, 0px); transform: translate(300px, 0px);}
    71.875% { -webkit-transform: translate(750px, 450px); transform: translate(750px, 450px);}
    72.2222222% { -webkit-transform: translate(800px, 400px); transform: translate(800px, 400px);}
 
    75% { -webkit-transform: translate(400px, 0px); transform: translate(400px, 0px);}
    77.7777777% { -webkit-transform: translate(0px, 400px); transform: translate(0px, 400px);}
    78.125%{ -webkit-transform: translate(50px, 450px); transform: translate(50px, 450px);}
    81.25%   { -webkit-transform: translate(500px, 0px); transform: translate(500px, 0px);}
    83.3333333%   { -webkit-transform: translate(800px, 300px); transform: translate(800px, 300px);}
    84.375%   { -webkit-transform: translate(650px, 450px); transform: translate(650px, 450px);}
    87.5%   { -webkit-transform: translate(200px, 0px); transform: translate(200px, 0px);}
    88.8888888%   { -webkit-transform: translate(0px, 200px); transform: translate(0px, 200px);}
    90.625%   { -webkit-transform: translate(250px, 450px); transform: translate(250px, 450px);}
    93.75%   { -webkit-transform: translate(700px, 0px); transform: translate(700px, 0px);}
    94.4444444%   { -webkit-transform: translate(800px, 100px); transform: translate(800px, 100px);}
    96.875%   { -webkit-transform: translate(450px, 450px); transform: translate(450px, 450px);}
    100% {{ -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px);}}
  }
@keyframes movement {
    3.125%   { -webkit-transform: translate(450px, 450px); transform: translate(450px, 450px);}
    5.55555555%   { -webkit-transform: translate(800px, 100px); transform: translate(800px, 100px);}
    6.25%   { -webkit-transform: translate(700px, 0px); transform: translate(700px, 0px);}
    9.375%   { -webkit-transform: translate(250px, 450px); transform: translate(250px, 450px);}
    11.1111111%   { -webkit-transform: translate(0px, 200px); transform: translate(0px, 200px);}
    12.5%   { -webkit-transform: translate(200px, 0px); transform: translate(200px, 0px);}
    15.75%   { -webkit-transform: translate(650px, 450px); transform: translate(650px, 450px);}
    16.6666666%   { -webkit-transform: translate(800px, 300px); transform: translate(800px, 300px);}
    18.75% { -webkit-transform: translate(500px, 0px); transform: translate(500px, 0px);}
    21.875%   { -webkit-transform: translate(50px, 450px); transform: translate(50px, 450px);}
    22.2222222% { -webkit-transform: translate(0px, 400px); transform: translate(0px, 400px);}
    25% { -webkit-transform: translate(400px, 0px); transform: translate(400px, 0px);}
 
    27.7777777% { -webkit-transform: translate(800px, 400px); transform: translate(800px, 400px);}
    28.125% { -webkit-transform: translate(750px, 450px); transform: translate(750px, 450px);}
    31.25%   { -webkit-transform: translate(300px, 0px); transform: translate(300px, 0px);}
    33.3333333% { -webkit-transform: translate(0px, 300px); transform: translate(0px, 300px);}
    34.375%   { -webkit-transform: translate(150px, 450px); transform: translate(150px, 450px);}
    37.5%   { -webkit-transform: translate(600px, 0px); transform: translate(600px, 0px);}
    38.8888888%   { -webkit-transform: translate(800px, 200px); transform: translate(800px, 200px);}
    40.625%   { -webkit-transform: translate(550px, 450px); transform: translate(550px, 450px);}
    43.75%   { -webkit-transform: translate(100px, 0px); transform: translate(100px, 0px);}
    44.4444444%  { -webkit-transform: translate(0, 100px); transform: translate(0, 100px);}
    46.875%   { -webkit-transform: translate(350px, 450px); transform: translate(350px, 450px);}

    50%  { -webkit-transform: translate(800px, 0px); transform: translate(800px, 0px);}

    53.125%   { -webkit-transform: translate(350px, 450px); transform: translate(350px, 450px);}
    55.5555555%  { -webkit-transform: translate(0, 100px); transform: translate(0, 100px);}
    56.25%   { -webkit-transform: translate(100px, 0px); transform: translate(100px, 0px);}
    59.375%   { -webkit-transform: translate(550px, 450px); transform: translate(550px, 450px);}
    61.1111111%   { -webkit-transform: translate(800px, 200px); transform: translate(800px, 200px);}
    62.5%   { -webkit-transform: translate(600px, 0px); transform: translate(600px, 0px);}
    65.625%   { -webkit-transform: translate(150px, 450px); transform: translate(150px, 450px);}
    66.6666666% { -webkit-transform: translate(0px, 300px); transform: translate(0px, 300px);}
    68.75%   { -webkit-transform: translate(300px, 0px); transform: translate(300px, 0px);}
    71.875% { -webkit-transform: translate(750px, 450px); transform: translate(750px, 450px);}
    72.2222222% { -webkit-transform: translate(800px, 400px); transform: translate(800px, 400px);}
 
    75% { -webkit-transform: translate(400px, 0px); transform: translate(400px, 0px);}
    77.7777777% { -webkit-transform: translate(0px, 400px); transform: translate(0px, 400px);}
    78.125%{ -webkit-transform: translate(50px, 450px); transform: translate(50px, 450px);}
    81.25%   { -webkit-transform: translate(500px, 0px); transform: translate(500px, 0px);}
    83.3333333%   { -webkit-transform: translate(800px, 300px); transform: translate(800px, 300px);}
    84.375%   { -webkit-transform: translate(650px, 450px); transform: translate(650px, 450px);}
    87.5%   { -webkit-transform: translate(200px, 0px); transform: translate(200px, 0px);}
    88.8888888%   { -webkit-transform: translate(0px, 200px); transform: translate(0px, 200px);}
    90.625%   { -webkit-transform: translate(250px, 450px); transform: translate(250px, 450px);}
    93.75%   { -webkit-transform: translate(700px, 0px); transform: translate(700px, 0px);}
    94.4444444%   { -webkit-transform: translate(800px, 100px); transform: translate(800px, 100px);}
    96.875%   { -webkit-transform: translate(450px, 450px); transform: translate(450px, 450px);}
    100% {{ -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px);}}
  }
  @-webkit-keyframes colorChange {
    3.125%   { -webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); }
    5.55555555%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;}
    6.25%    {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    9.375%   {-webkit-filter: brightness(0.9) invert(.7) sepia(0.5) hue-rotate(181deg) saturate(250%) ;filter: brightness(0.9) invert(.7) sepia(0.5) hue-rotate(181deg) saturate(250%) ;}
    11.1111111%   {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;}
    12.5%    {-webkit-filter: brightness(0.4) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;filter: brightness(0.4) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;}
    15.75%   { -webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); }
    16.6666666%   {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;}
    18.75%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    21.875%    {-webkit-filter: brightness(0.9) invert(.7) sepia(0.5) hue-rotate(181deg) saturate(250%) ;filter: brightness(0.9) invert(.7) sepia(0.5) hue-rotate(181deg) saturate(250%) ;}
    22.2222222%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;}
    25%  {-webkit-filter: brightness(0.9) invert(.5) sepia(0.7) hue-rotate(300deg) saturate(200%) ;filter: brightness(0.9) invert(.5) sepia(0.7) hue-rotate(300deg) saturate(200%) ;}
 
    27.7777777%  { -webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); }
    28.125%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;}
    31.25%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    33.3333333% {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    34.375%   {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;}
    37.5%  {-webkit-filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;}
    38.8888888%   { -webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); }
    40.625%   {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;}
    43.75%   {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    44.4444444%   {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;}
    46.875%   {-webkit-filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;}

    50%  { -webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); }

    53.125% {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;}
    55.5555555%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    56.25%  {-webkit-filter: brightness(0.9) invert(.7) sepia(0.5) hue-rotate(181deg) saturate(250%) ;filter: brightness(0.9) invert(.7) sepia(0.5) hue-rotate(181deg) saturate(250%) ;}
    59.375%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;}
    61.1111111%  {-webkit-filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;}
    62.5%   { -webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); }
    65.625%   {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;}
    66.6666666%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    68.75%   {-webkit-filter: brightness(0.9) invert(.3) sepia(0.5) hue-rotate(181deg) saturate(250%) ;filter: brightness(0.9) invert(.3) sepia(0.5) hue-rotate(181deg) saturate(250%) ;}
    71.875%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;}
    72.2222222%  {-webkit-filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;}
 
    75%  { -webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); }
    77.7777777% {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;}
    78.125% {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    81.25%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    83.3333333%   {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;}
    84.375%   {-webkit-filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;}
    87.5%   { -webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); }
    88.8888888%    {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;}
    90.625%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    93.75%   {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;}
    94.4444444% {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    96.875%   {-webkit-filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;}
    100%  {-webkit-filter: brightness(0.9) invert(.6) sepia(0.4) hue-rotate(230deg) saturate(150%) ;filter: brightness(0.9) invert(.6) sepia(0.4) hue-rotate(230deg) saturate(150%) ;}

  }
  @keyframes colorChange {
    3.125%   { -webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); }
    5.55555555%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;}
    6.25%    {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    9.375%   {-webkit-filter: brightness(0.9) invert(.7) sepia(0.5) hue-rotate(181deg) saturate(250%) ;filter: brightness(0.9) invert(.7) sepia(0.5) hue-rotate(181deg) saturate(250%) ;}
    11.1111111%   {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;}
    12.5%    {-webkit-filter: brightness(0.4) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;filter: brightness(0.4) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;}
    15.75%   { -webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); }
    16.6666666%   {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;}
    18.75%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    21.875%    {-webkit-filter: brightness(0.9) invert(.7) sepia(0.5) hue-rotate(181deg) saturate(250%) ;filter: brightness(0.9) invert(.7) sepia(0.5) hue-rotate(181deg) saturate(250%) ;}
    22.2222222%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;}
    25%  {-webkit-filter: brightness(0.9) invert(.5) sepia(0.7) hue-rotate(300deg) saturate(200%) ;filter: brightness(0.9) invert(.5) sepia(0.7) hue-rotate(300deg) saturate(200%) ;}
 
    27.7777777%  { -webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); }
    28.125%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;}
    31.25%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    33.3333333% {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    34.375%   {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;}
    37.5%  {-webkit-filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;}
    38.8888888%   { -webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); }
    40.625%   {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;}
    43.75%   {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    44.4444444%   {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;}
    46.875%   {-webkit-filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;}

    50%  { -webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); }

    53.125% {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;}
    55.5555555%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    56.25%  {-webkit-filter: brightness(0.9) invert(.7) sepia(0.5) hue-rotate(181deg) saturate(250%) ;filter: brightness(0.9) invert(.7) sepia(0.5) hue-rotate(181deg) saturate(250%) ;}
    59.375%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;}
    61.1111111%  {-webkit-filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;}
    62.5%   { -webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); }
    65.625%   {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;}
    66.6666666%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    68.75%   {-webkit-filter: brightness(0.9) invert(.3) sepia(0.5) hue-rotate(181deg) saturate(250%) ;filter: brightness(0.9) invert(.3) sepia(0.5) hue-rotate(181deg) saturate(250%) ;}
    71.875%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;}
    72.2222222%  {-webkit-filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;}
 
    75%  { -webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); }
    77.7777777% {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;}
    78.125% {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    81.25%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    83.3333333%   {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;}
    84.375%   {-webkit-filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;}
    87.5%   { -webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(50deg) saturate(200%); }
    88.8888888%    {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(250deg) saturate(200%) ;}
    90.625%  {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    93.75%   {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(151deg) saturate(200%) ;}
    94.4444444% {-webkit-filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(1) hue-rotate(100deg) saturate(200%) ;}
    96.875%   {-webkit-filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;filter: brightness(0.9) invert(.7) sepia(0.7) hue-rotate(300deg) saturate(200%) ;}
    100%  {-webkit-filter: brightness(0.9) invert(.6) sepia(0.4) hue-rotate(230deg) saturate(150%) ;filter: brightness(0.9) invert(.6) sepia(0.4) hue-rotate(230deg) saturate(150%) ;}

  }
.dvd{
    -webkit-filter: brightness(0.9) invert(1);
            filter: brightness(0.9) invert(1);
    width:  152px;
    height: 68px;
    background-image: url(../img/dvd.png);
    background-size: 100% 100%;
    -webkit-animation: movement 60s linear infinite, colorChange 60s steps(1,end) infinite;
            animation: movement 60s linear infinite, colorChange 60s steps(1,end) infinite;
}
.screen{
    width: 952px;
    height: 518px;
   background-color: black;
}