@font-face {
    font-family: "Inter";
    src: local("Inter"),
      url("../fonts/Inter.ttf");
  }
body{
    margin: 0;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    display: flex;
    font-family: 'Inter', serif;
    background: #F2F4F7;
}
.sidebar{
    height: 1024px;
    box-sizing: border-box;
   position: relative;
    min-width: 232px;
    background: #FFFFFF;
    border-right: 1px solid #EAECF0;
}
header{
    box-sizing: border-box;
    
    width: 1208px;
    height: 66px;

    background: #FFFFFF;
    border-bottom: 1px solid #EAECF0;

}
.sidebar__menu{
    margin: 20px;
}
.sidebar__menu ul{
    list-style-type: none;
    padding: 0;
}
.sidebar__menu li .sidebar__li{
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
   
    color: #5F6980;
}
.sidebar__li a, .sidebar__li--open a{
    margin-left: 28px;
}
.sidebar__li--open{
    margin: 12px 0;
}
.sidebar__li--open{
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #5F6980;
}
.sidebar__li{
    padding: 12px 0;
}
.sidebar__li img:last-child{
    position: absolute;
    right: 0;
}
.sidebar__li img:first-child{
    
    position: absolute;
}
a.sidebar__item--chosen{
    color: #282828;
}
.sidebar__menu h2{
    text-transform: uppercase;
   
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 20px;
    color: #9D9FA2;
}
.sidebar__buttons{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}
.sidebar__logo{
    margin: 20px;
}
.banner{
    width: 100%;
    padding: 32px 36px;
    color: #FFFFFF;
    
    background: #282828;
    border-radius: 16px;
}
/* 1440 X 1562*/
.banner__title{
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.6px;
    margin-bottom: 8px;
}
.banner__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

}
